alembic==1.14.0
botorch==0.12.0
bottle==0.13.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cmaes==0.11.1
colorama==0.4.6
colorlog==6.9.0
cryptography==43.0.3
Deprecated==1.2.15
filelock==3.16.1
fsspec==2024.10.0
ga4mp==2.0.4
gpytorch==1.13
greenlet==3.1.1
idna==3.10
jaxtyping==0.2.19
Jinja2==3.1.4
joblib==1.4.2
linear-operator==0.5.3
Mako==1.3.6
MarkupSafe==3.0.2
mpmath==1.3.0
multipledispatch==1.0.0
networkx==3.4.2
numpy==1.26.4
opt_einsum==3.4.0
optuna==4.1.0
optuna-dashboard==0.17.0
optuna-integration==4.1.0
optunahub==0.1.0
packaging==24.2
pillow==11.0.0
plotly==5.24.1
pycparser==2.22
PyGithub==2.5.0
PyJWT==2.9.0
PyNaCl==1.5.0
pyro-api==0.1.2
pyro-ppl==1.9.1
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.5.0
SQLAlchemy==2.0.36
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
torch==2.5.1
tqdm==4.67.0
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
